* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
}
:root {
    --primary-color: #ff4133;
    --secondary-color: #ffa099;
    --accent-color: #fae7e7;
    --shadow-color: #E8E8E8;
}

button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
}
